    <footer class="site-footer">
      <div>
        <img src='/assets/logos/logo_transparent.png'
          style="width:15%;margin-left: auto;margin-right: auto;display: block;">
      </div>
      <p style="margin-left:8px;">Irrelevant Subject 2022. All rights reserved ©</p>
    </footer>