    <footer class="site-footer">
      <div>
        <img src='/assets/logos/logo_transparent.png'
          style="width:15%;margin-left: auto;margin-right: auto;display: block;">
      </div>
      <p>2022 Καρδία των Κωνσταντινοπολίτικων. All rights reserved. ©</p>
    </footer>