    <header class="page-header">
      <div class="container">
        <div class="page-header__content">
            <img src='/assets/logos/logo_transparent.png' style="width:15%; margin-top:-50px">
          <nav>
            <ul role="list" class="nav-list flex-group">
              <li>
                <a href="/">Αρχική</a>
              </li>

              <li>
                <a href="/blog/">Κατηγορία 1</a>
              </li>
              <li>
                <a href="/blog/">Κατηγορία 2</a>
              </li>
              <li>
                <a href="/blog/">Κατηγορία 3</a>
              </li>
              <li>
                <a href="/blog/">Κατηγορία 4</a>
              </li>

            </ul>
          </nav>
        </div>
      </div>
    </header>