    <header class="page-header">
      <div class="container">
        <div class="page-header__content">
          <img src='/assets/logos/logov2.png' style="width:15%; margin-top:-50px; cursor: pointer;"
          onclick="window.location.href='/'">
          <nav>
            <ul role="list" class="nav-list flex-group">
              <li>
                <a href="/">Αρχική</a>
              </li>
              <li>
                <a href="/Movies/">Ταινίες</a>
              </li>
              <li>
                <a href="/TVSeries/">TV Shows</a>
              </li>
              <li>
                <a href="/Music/">Μουσική</a>
              </li>
              <li>
                <a href="/Science/">Άποψη&Επιστήμη</a>
              </li>
              <li>
                <a href="/blog/">Άλλα</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </header>