---
title: Irrelevant Subject
layout: 'base.njk'
---

      <section class="hero">
        <div class="container flow">
          <div class="hero__content flow">
            {%- for post in collections.headline | reverse -%}
              {% include "headline.njk" %}  
              {%- endfor -%}
          </div>
        </div>
      </section>

      <section id="featured-articles" class="featured-articles">
        <div class="container flow">
          <h2 class="section-title text-center">Προτεινόμενα άρθρα</h2>
           <ul role="list" class="articles__list flow">
             {%- for post in collections.featured | reverse -%}
              {% include "article-snippet.njk" %}  
              {%- endfor -%}
            </ul>
        </div>
      </section>


